<!DOCTYPE html>
<html>
<meta charset="UTf-8">
<title>빵빵</title>
</head>

<body style="background-color:yellow">
    <form method="post" action="/bread/answer">
            빵종류: <input type="text" name="bread">
        <p>
            1개당 가격: <input type="number" name="price">
        <p>
            구입 개수: <select name="quantity">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            개
            <p></p>
            <input type="submit" value="구매">
    </form>
</body>

</html>