<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #F8ece0;
            text-align: center;
        }

        img {
            width: 280;
            height: 320;
        }

        h1 {
            color: brown;
        }

        span {
            color: gray;
            font-weight: 0.8em;
        }
    </style>
    <title>Maru</title>
</head>

<body>
    <h1>Maru Shopping</h1>
    (bread, coffee, salad) <p>
    <form method="get" href </body>

</html>